$main-color: #28a745;

$main-text-color: #333333;
$additional-text-color: #ffffff;
$hero-text-color: #e9e9e9;

$body-color: #ffffff;
$blog-color: #0284d0;
$contact-color: #f4f4f4;
$input-color: #ffffff;
$footer-color: #333333;

$placeholder-color: #808080;